# Build directories
build/
bin/
obj/
out/
.vs/

# Compiler and IDE artifacts
*.exe
*.obj
*.lib
*.pdb
*.ilk
*.idb
*.bmp

# Asset packs and ROM dumps (no copyrighted data in repo)
assets/
*.bin
*.dat
*.sfc
*.smc

# Ghidra project data
ghidra-projects/
build/ghidra-*
